/* the css responsive grid for the game (header, navigation, board, sidebars, footer) */
.wrapper {
  margin: auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: min(100vw, 100vh);
  width: min(100dvw, 100dvh);
  height: min(100vw, 100vh);
  height: min(100dvw, 100dvh);
}
.navbar,
.sidebarBot,
.sidebarUser,
.board,
.CSSloadSpinner,
.footer {
  background-color: transparent;
  position: relative;
}
.board > * {
  filter: inherit;
}
.boardCell {
  aspect-ratio: 1 / 1;
}
.navbar div,
.sidebar div,
.board div,
.CSSloadSpinner div,
.footer div {
  position: relative;
}
.navbar {
  grid-column: 1 / 11;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.CSSloadSpinner {
  grid-column: 1 / 11;
  grid-row: 9 / 10;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.footer {
  grid-column: 1 / 11;
  grid-row: 10 / 11;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.navbarRestart {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}
.navbarSettings {
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}
.navbarDatabase {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}
.footerGithub {
  grid-column: 3 / 5;
  grid-row: 9 / 10;
}
.footerThemeLight {
  grid-column: 7 / 8;
  grid-row: 9 / 10;
}
.footerThemeDark {
  grid-column: 8 / 9;
  grid-row: 9 / 10;
}
.sidebar {
  grid-row: 2 / 9;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.sidebarBot {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.sidebarUser {
  grid-column: 9 / 11;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
.walletId {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.horizontalMove {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}
.horizontalMoveLeft {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.horizontalMoveRight {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.safetyTile {
  grid-column: 1 / 3;
  grid-row: 4 / 6;
}
.safetyTower {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}
.safetyDigit {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}
.vaultTile {
  grid-column: 1 / 3;
  grid-row: 6 / 8;
}
.vaultOpponent {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}
.vaultDigit {
  grid-column: 1 / 3;
  grid-row: 7 / 8;
}
.board {
  grid-column: 3 / 9;
  grid-row: 3 / 9;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}
input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  appearance: none;
  pointer-events: visible;
  cursor: pointer;
  z-index: 100;
}
