/* ********************************************************************************* */
/* Animations for the next move on the game board.                                   */
/* ********************************************************************************* */
.boardCell.hover,
.boardCell.click {
  background-color: violet;
}
.boardCell.select,
.boardCell.mark {
  background-color: lightblue;
}
/* ********************************************************************************* */
/* highlite the winner's sidebar                                                     */
/* ********************************************************************************* */
.winnerSidebar {
  background-color: gold;
  background-blend-mode: exclusion;
  opacity: 1;
}
/* ********************************************************************************* */
/* Transform the game board and pieces to grayscale when the game has finished.      */
/* ********************************************************************************* */
.filterGray {
  filter: grayscale(80%);
}
/* ********************************************************************************* */
/* Start transitioning these color-related properties for all html elements.         */
/* As every value gets evaluated by light-dark(), this transition                    */
/* only starts whenever the checked state gets toggled for the input radio elements. */
/* ********************************************************************************* */
* {
  transition-property: background-color, fill, stroke;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0.1s;
}
